[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = "*"
#pulumi_oci = {editable = true, path = "./pulumi_oci/sdk/python"}
parver = "*"
pulumi-rke = "*"

[dev-packages]
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.10"
